@import url("https://fonts.googleapis.com/css2?family=Nova+Square&family=Rubik&display=swap");

.container {
  background-color: white;
}

.headerBody {
  display: flex;
  justify-content: space-between;
  margin: 40px 70px 40px 70px;
}

.listBody {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.link {
  color: #56585e;
  text-decoration: none;
  font-family: "Nova Square", sans-serif;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.link:hover {
  color: black;
}
