.container {
  background-color: #f7f7f7;
}

.searchSection {
  margin: 30px 30px 0px 30px;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.imageSection {
  margin: 0px 30px 0px 30px;
  height: 500px;
  background-color: rgb(86, 81, 81);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* .pinBody {
  margin: 0;
  padding: 0; 
  width: 80vw;
  background-color: black;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-auto-rows: 10px;
} */
