.backImg {
  height: 400px;
  width: 300px;
  margin: 70px 20px 70px 20px;
  background-image: url("/public/img1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: gainsboro;
  border-radius: 10px;
}
