.btn {
  background-color: #f7f7f7;
  border-radius: 10px;
  border: 1px solid #e8e8e8;
  width: 90px;
  height: 40px;
  margin-left: 20px;
  cursor: pointer;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
