.inputStyle {
  width: 60%;
  height: 40px;
  background-color: #f7f7f7;
  border-radius: 10px;
  border: 1px solid #e8e8e8;
  padding-left: 10px;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.inputStyle:focus {
  border-color: green;
}
