@import url("https://fonts.googleapis.com/css2?family=Nova+Square&family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: 0;
  font-family: "Nova Square", sans-serif;
  font-family: "Rubik", sans-serif;
}

li {
  list-style: none;
  text-decoration: none;
}
